html {
    color: lightblue;
    font-size: 1em;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    color: black;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: grey url("background.png") no-repeat fixed;
    background-size: cover;
}
.card-text{
    margin: 7vh;
}
.btn-group{
    width: 20vw;
    margin: 0 0 2vh 2vw;
}

.card{
    width: 70vw;
}

.center{
    grid-column: 2;
    min-width: 70%;
}
.note-container{
    display: grid;
    grid-template-columns: repeat(3 3fr);
    justify-content: center;
}
.single-note{
    margin: 0 0 5vw 0vw;
    padding: 2vw 5vh;
    border: 1px solid black;
    font: normal 16px/normal "Times New Roman", Times, serif;
    width: 50vw;
}

.titleM{
    display: grid;
    grid-template-columns: repeat(3 3fr);
    text-align: center;
    grid-template-rows: repeat(3 3fr);

}

aside{
    position:fixed;
    right: 0;
    box-shadow: 0px 10px 14px -7px #276873;
    background: #599bb3 linear-gradient(to bottom, grey 5%, #408c99 100%);
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
}

aside:hover {
    background: #408c99 linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
}

.single-note:hover{
    background-color: darkgray;
    color: black;
    grid-column: 1;
    align-self: center;
}