<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:HH="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Telegraph 2.0</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/noteStyle.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.6/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/froala-editor@2.9.6/css/froala_style.min.css" rel="stylesheet" type="text/css" />

</head>
<body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@2.9.6/js/froala_editor.pkgd.min.js"></script>

<!-- Initialize the editor. -->
<script>
        $(function() {
            $('textarea').froalaEditor()
        });

</script>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/notes}" th:onclick="return confirm('Are you sure?')">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<form action="#" th:action="@{/notes/addnote}" th:object="${note}" method="post">
    <div class="note">
    <input class="form-control" th:field="*{title}" type="text" placeholder="Title..." >
    <input class="form-control" th:field="*{author}" type="text" placeholder="Author…" >
    <input class="form-control" th:field="*{categories}" type="text" placeholder="Hashtags…" ><br>
</div>
    <textarea id="content" ></textarea>
    <input style="display: none" id="insert" class="text" th:field="*{text}" type="text" ><br>
    <input style="display:none" id="send" type="submit" value="Publish note">
    <button class="btn btn-success" onclick="add()" type="submit" >Publish note</button>
</form>

<script>
    function add() {
        var txt=document.getElementById("content").value;
        var input = document.getElementById("insert");
        input.value=txt;
        console.log(input.value);
        document.getElementById("send").click();
    }
</script>
</body>
</html>