<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/noteStyle.css}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Telegraph 2.0</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{https://telegra.ph}">Original Telegraph <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{https://amwgdynia.myjetbrains.com/youtrack/issues/TEL}">YouTrack<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="titleM" ><h1>Welcome in Telegraph 2.0</h1><br>
    <p th:if="${isLogged}"><a  class="btn btn-primary" href="/logout">Log out</a></p>
</div>
<a type="button" class="btn btn-primary" href="/notes/add">Enter without Log in</a><br>
<a type="button" class="btn btn-primary" href="/login">Log in</a>
</body>

</html>
